<div>
  <%= @folder.name %>に入っている写真
</div>
<% if @photos.present? %>
  <% @photos.each do |photo| %>
  <%# binding.pry %>
    <%= link_to image_tag(photo.image.variant(resize: '500x500')), photo_path(photo.id) %>
    <%= photo.text %>
  <% end %>
<% end %>