<% if @photo.exists? %>
  <% @photo.each do |photo| %>
    <% unless photo.folders.present? %>
    <div>
      <label for='image'> <%= image_tag photo.image.variant(resize: '500x500') %> </label>
      <input id='image' name="folder[photo_ids][]" type='hidden' value=<% photo.id %> >
      <%# binding.pry %>
    </div>
    <% if photo.text %>
      <div>
        <%= photo.text %>
      </div>
    <% end %>
    <% end %>
  <% end %>
<% end %>
<% if @folder %>
  <div>
    <%= link_to "#{@folder.name}に写真を追加する" %>
  </div>
<% end %>